
body {
    padding-top: 3.5rem;
  }
  p{font-size:15px; color: rgb(12, 12, 12); text-align: left;}
  h2{font-size: 24px; color: rgb(228, 192, 74); text-align: left;}
  
  @media only screen and (max-width: 768px){
    p{font-size: 20px; color: blue; text-align: center;}
    h2{font-size: 35px; color: red; text-align: center;}
  }
  
  .modificandoSlider{
    margin-bottom: 50px;
  }
  .imgSlider{
    width: 100%;
    height: 10%;
  }
  
  .imgFluid{
    width:100%;
    height:50%
  }
  .company{
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  
  .modificandoFooter{
    background-image: linear-gradient(to bottom, white, rgb(209, 193, 223), rgb(172, 155, 189));
    padding:50px;
    margin-top: 50px;
    text-align: center;
  }

  .navbar {
    background-image: linear-gradient(to right, white, rgb(234, 214, 236), rgb(165, 144, 184));
    
  }
  .navbar-brand{
    font-weight: bold;
  }